@import "tailwindcss";

:root {
  font-family: "Poppins", "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #1f2937; 
  background-color: #f9fafb; 

  --width-sidebar: 18rem;
  --height-header: 5rem;

  --primary-blue: #274480;
  --primary-blue-hover: #3A5BAA;
  --primary-yellow: #deae52;
  --light: #f5f5f5;
}

body {
  background-color: var(--light);
}